extends layouts/home

block content

  main

    include includes/breadcrumb.pug

    section#first-section.py-5
      //- 
      .container

        .row

          .col-12

            h2 Titulos
            //- h1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet hic ea vitae nulla quasi aut at, consequuntur nihil mollitia, officia temporibus autem ex neque dolorum minus laborum a fuga obcaecati!
            h2.text-primary h2/&gt; Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            
            h3.text-secondary h3/&gt; Amet hic ea vitae nulla quasi aut at, consequuntur nihil mollitia,
            
            hr

            h3.text-secondary.subtitle h3/&gt; Amet hic ea vitae nulla quasi aut at, consequuntur nihil mollitia,

            hr

            h4 h4/&gt; officia temporibus autem ex neque dolorum minus laborum a fuga obcaecati!
            h5 h5/&gt; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis 
            h6 h6/&gt; iusto et minus ut eos autem qui tempora accusantium quam.

            hr

            h2 Parrafos

            p p/&gt; Lorem ipsum dolor sit amet consectetur adipisicing elit 
              strong Odit consequatur sit delectus perspiciatis! Nesciunt, necessitatibus magni ipsum cumque, ullam sequi perferendis obcaecati officia maiores molestias suscipit repellendus quaerat, quasi ut.

            p p/&gt; Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequatur sit delectus perspiciatis! Nesciunt, necessitatibus magni ipsum cumque, ullam sequi perferendis obcaecati officia maiores molestias suscipit repellendus quaerat, quasi ut.

            p: small small/&gt; Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, temporibus laudantium quis iusto dolor reiciendis velit doloremque odit vel sint deserunt doloribus at eius nobis nulla qui. Ex, consequatur sunt?

            ul
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta repellat fuga rerum adipisci reprehenderit cum nihil et rem doloribus minima suscipit atque, placeat accusantium saepe eaque provident! Quae, deserunt?
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta repellat fuga rerum adipisci reprehenderit cum nihil et rem doloribus minima suscipit atque, placeat accusantium saepe eaque provident! Quae, deserunt?
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta repellat fuga rerum adipisci reprehenderit cum nihil et rem doloribus minima suscipit atque, placeat accusantium saepe eaque provident! Quae, deserunt?

            hr 

            button.btn.btn-primary button

            a.btn.btn-primary(href="#") link